@{
    ViewData["Title"] = "About";
}


<div class="wrap" role="document">
    <div class="content">
        <main class="main" role="main">

        <div style="padding-top:20px"></div>
            <section class="results-slider  mb-24 " id="component-1" data-component="results-slider">

                <div class="container">

                    <div class="row">


                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">About us</h3>

                            <div class="text-gray-200">

                                <p>

                                    &ensp; • Med Sculpt aesthetic provides complete lifestyle restructuring along with  exercise and a healthy diet plan to rejuvenate and replenish your body and mind.  <br />
                                    &ensp; • We have been offering Aesthetic and restorative services to our clients for over 5 years. <br />
                                    &ensp; • We offer in person or virtual consultations with a MD .   <br />
                                    &ensp; • All procedures are provided on site by our experienced MD. <br />
                                </p>
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->









                    </div> <!-- /.row -->


                </div> <!-- /.container -->

            </section> <!-- /.result-slider -->

            <section class="procedures-slider pt-24 mt-24 mb-48 overflow-hidden " id="component-2" data-component="procedures-slider">
                <div class="container">
                    <div class="row items-center">
                        <div class="col relative procedures-slider__procedures-wrapper w-full lg:w-7/12">
                            @*<img src="~/images/big-square.svg" alt="" class="dots z-10" aria-hidden="true" style="transform: matrix(1, 0, 0, 1, -200, 0);">*@
                            <div class="procedures-slider__procedures bg-white slick-initialized slick-slider">
                                <div class="slick-list draggable">
                                    <div class="slick-track slick-track-custom" style="opacity: 1;">
                                        <div class="procedures-slider__procedure relative slick-slide slick-current slick-active slick-current-custom" data-slick-index="0" aria-hidden="false">
                                            <div class="square">
                                                <div class="fit-image object-cover object-center">
                                                    <img width="1200" height="800" src="~/images/doctor.jfif" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1200px) 100vw, 1200px">
                                                </div>
                                            </div> <!-- /.square -->
    
                                        </div>
                                    </div>
                                </div>
  
                            </div>
                        </div> <!-- /.col -->

                        <div class="col w-full lg:w-5/12 mt-24 lg:mt-0 wysiwyg js-animate-col js-animated">
                            <p class="hdg-1">About Doctor</p>
                            <p class="paragraph-default text-gray-200">Dr.Daniel is certified by the American Board of Internal Medicine and comes with years of experience in his area of specialty. </p>
                            <p class="paragraph-default text-gray-200">He did his residency at Henry Ford Hospital in Detroit.    </p>
                            <p class="paragraph-default text-gray-200">He worked as a Senior Staff at Henry Ford, West Bloomfield from 1997 to 2003.  </p>
                            <p class="paragraph-default text-gray-200">He has been in private practice since 2003.    </p>

                        </div> <!-- /.col -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </section> <!-- /.procedures-slider -->

        </main><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->