@{
    ViewData["Title"] = "BOTOX";
}


<div class="wrap" role="document">
    <div class="content">
        <main class="main" role="main">


            <section class="hero-banner relative flex justify-center items-center   " id="component-1" data-component="hero-banner">




                @*<div class="fit-image object-cover object-center">
                <img width="1920" height="1282" src="" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1920px) 100vw, 1920px">
            </div>*@


                <div class="container relative text-white z-10">

                    <div class="w-10/12 wysiwyg js-animate-up js-animated">

                        <h1 class="hdg-6">BOTOX® COSMETIC TREATMENT</h1>
                        <p class="text-hero">Soften and improve the appearance of facial lines</p>



                    </div> <!-- /.w-10/12 -->

                </div> <!-- /.container -->

            </section> <!-- /.hero-banner -->



            <section class="results-slider  mb-24 " id="component-2" data-component="results-slider">

                <div class="container">

                    <div class="row">


                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">BOTOX</h3>

                            <div class="text-gray-200">

                                <p>

                                    &ensp; • Fore head lines <br />
                                    &ensp; • Frown lines <br />
                                    &ensp; • Eyebrow shaping <br />
                                    &ensp; • Crows feet treatment <br />
                                    &ensp; • Lip lines <br />
                                    &ensp; • Marionette lines<br />
                                </p>
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->
                       
                        
                        
                       
                        
                        



                    </div> <!-- /.row -->


                </div> <!-- /.container -->

            </section> <!-- /.result-slider -->


            <section class="results-slider  mb-24 " id="component-3" data-component="results-slider">

                <div class="container">

                    <div class="row">

                        <div class="relative z-10 w-full ml-auto col md:w-6/12 js-animate-col js-animated">

                            <h2 class="text-gray-300 text-hero">Before &amp; After</h2>

                        </div> <!-- /.col -->

                    </div> <!-- /.row -->

                    <div class="w-full mx-auto mb-20 md:w-10/12">

                        <div class="row">

                            <div class="w-full col md:w-6/12">

                                @*<div class="relative">

                                <img src="~/images/big-square.svg" alt="" class="absolute top-0 right-0 opacity-75 dots" aria-hidden="true" style="transform: matrix(1, 0, 0, 1, 0, 0);">

                            </div>*@ <!-- /.relative -->

                            </div> <!-- /.col -->

                            <div class="relative z-10 w-full text-sm font-light leading-loose text-gray-200 col md:w-6/12 js-animate-col js-animated">

                                Results from BOTOX® treatments typically last 3 to 4 months, and the procedure can be repeated in this time frame to best maintain results.&nbsp;
                            </div> <!-- /.col -->

                        </div> <!-- /.row -->

                    </div> <!-- /.md:w-10/12 -->

                    <div class="relative">

                        <div class="color-block bg-pale-300"></div>


                        <div class="w-full mx-auto results-slider__container md:w-10/12">

                            <div class="results-slider__slider results-slider__center -mx-gutter slick-initialized slick-slider">


                                <div class="slick-list draggable" style="padding: 0px 50px;">
                                    <div class="slick-track slick-track-custom">
                                        <div class="results-slider__slide col slick-slide slick-current slick-active slick-center slick-current-custom" data-slick-index="0" aria-hidden="false" tabindex="0">

                                            <img width="1202" height="1211" src="~/images/botox-1.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="" sizes="(max-width: 1202px) 100vw, 1202px">
                                        </div>
                                    </div>
                                </div> <!-- /.results-slider__slide -->




                            </div> <!-- /.results-slider__slide -->

                        </div> <!-- /.md:w-10/12 -->

                        <div class="flex items-center mt-16 slide-nav ll-results-slider__arrows sm:mt-0 sm:block">

                        </div> <!-- /.slide-nav -->

                    </div> <!-- /.relative -->

                </div> <!-- /.container -->

            </section> <!-- /.result-slider -->


            <section class="content-grid mt-32 mb-32 " id="component-4" data-component="content-grid">

                <div class="container">

                    <div class="row items-center mb-32 js-animate-up js-animated">

                        <div class="col w-full md:w-8/12 mb-8 md:mb-0">

                            <h2 class="hdg-2 mb-0">Frequently Asked Questions about BOTOX</h2>

                        </div> <!-- /.col -->


                    </div> <!-- /.row -->

                    <div class="row">

                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">What is the most important information I should know about BOTOX and BOTOX Cosmetic?</h3>

                            <div class="text-gray-200">

                                <p>
                                    <strong>BOTOX</strong> and <strong>BOTOX Cosmetic</strong> may cause serious side effects that can be life threatening, including: <br />
                                    &ensp; • Problems breathing or swallowing <br />
                                    &ensp; • Spread of toxin effects <br />
                                    These problems can happen hours, days, to weeks after an injection of <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong>. Call your doctor or get medical help right away if you have any of these problems after treatment with BOTOX or BOTOX Cosmetic:  <br />
                                    &ensp; • Problems swallowing, speaking, or breathing. These problems can happen hours, days, to weeks after an injection of <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong> usually because the muscles that you use to breathe and swallow can become weak after the injection. Death can happen as a complication if you have severe problems with swallowing or breathing after treatment with BOTOXor BOTOX Cosmetic. <br />
                                    &emsp; • People with certain breathing problems may need to use muscles in their neck to help them breathe. These people may be at greater risk for serious breathing problems with <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong>. <br />
                                    &emsp; • Swallowing problems may last for several months. People who cannot swallow well may need a feeding tube to receive food and water. If swallowing problems are severe, food or liquids may go into your lungs. People who already have swallowing or breathing problems before receiving <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong> have the highest risk of getting these problems. <br />
                                    &ensp; • Spread of toxin effects. In some cases, the effect of botulinum toxin may affect areas of the body away from the injection site and cause symptoms of a serious condition called botulism. The symptoms of botulism include: <br />
                                    &emsp; • loss of strength and muscle weakness all over the body <br />
                                    &emsp; • double vision, blurred vision and drooping eyelids <br />
                                    &emsp; • hoarseness or change or loss of voice (dysphonia) <br />
                                    &emsp; • trouble saying words clearly (dysarthria) <br />
                                    &emsp; • loss of bladder control <br />
                                    &emsp; • trouble breathing <br />
                                    &emsp; • trouble swallowing <br />
                                    These symptoms can happen hours, days, to weeks after you receive an injection of <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong>. <br />
                                    These problems could make it unsafe for you to drive a car or do other dangerous activities. See "<strong>What should I avoid while receiving BOTOX or BOTOX Cosmetic?</strong>" <br />
                                    There has not been a confirmed serious case of spread of toxin effect away from the injection site when BOTOX has been used at the recommended dose to treat chronic migraine, severe underarm sweating, blepharospasm, or strabismus, or when BOTOX Cosmetic has been used at the recommended dose to treat frown lines, crow’s feet lines, and/or forehead lines. <br />
                                </p>
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">What are BOTOX and BOTOX Cosmetic?</h3>

                            <div class="text-gray-200">

                                <p>
                                    BOTOX is a prescription medicine that is injected into muscles and used: <br />
                                    &ensp; • to treat overactive bladder symptoms such as a strong need to urinate with leaking or wetting accidents (urge urinary incontinence), a strong need to urinate right away (urgency), and urinating often (frequency) in adults when another type of medicine (anticholinergic) does not work well enough or cannot be taken. <br />
                                    &ensp; • to treat leakage of urine (incontinence) in adults with overactive bladder due to neurologic disease when another type of medicine (anticholinergic) does not work well enough or cannot be taken. <br />
                                    &ensp; • to treat overactive bladder due to a neurologic disease in children 5 years of age and older when another type of medicine (anticholinergic) does not work well enough or cannot be taken. <br />
                                    &ensp; • to prevent headaches in adults with chronic migraine who have 15 or more days each month with headache lasting 4 or more hours each day. <br />
                                    &ensp; • to treat increased muscle stiffness in people 2 years of age and older with spasticity. <br />
                                    &ensp; • to treat the abnormal head position and neck pain that happens with cervical dystonia (CD) in adults. <br />
                                    &ensp; • to treat certain types of eye muscle problems (strabismus) or abnormal spasm of the eyelids (blepharospasm) in people 12 years of age and older. <br />
                                    BOTOX is also injected into the skin to treat the symptoms of severe underarm sweating (severe primary axillary hyperhidrosis) when medicines used on the skin (topical) do not work well enough.  <br />
                                    BOTOX Cosmetic is a prescription medicine for adults that is injected into muscles and used for a short period of time (temporary) to improve the look of:  <br />
                                    &ensp; • moderate to severe frown lines between the eyebrows (glabellar lines) <br />
                                    &ensp; • moderate to severe crow’s feet lines <br />
                                    &ensp; • moderate to severe forehead lines <br />
                                    You may receive treatment for frown lines, crow’s feet lines, and forehead lines at the same time. It is not known whether BOTOX is safe and effective in people younger than: <br />
                                    &ensp; • 18 years of age for treatment of urinary incontinence <br />
                                    &ensp; • 18 years of age for treatment of chronic migraine <br />
                                    &ensp; • 16 years of age for treatment of cervical dystonia <br />
                                    &ensp; • 18 years of age for treatment of hyperhidrosis <br />
                                    &ensp; • 12 years of age for treatment of strabismus or blepharospasm <br />
                                    &ensp; • 2 years of age for treatment of spasticity <br />
                                    BOTOX Cosmetic is not recommended for use in children younger than 18 years of age. It is not known whether <strong>BOTOX</strong> and <strong>BOTOX Cosmetic</strong> are safe and effective to prevent headaches in <br />
                                    people with migraine who have 14 or fewer headache days each month (episodic migraine). It is not known whether <strong>BOTOX</strong> and <strong>BOTOX Cosmetic</strong> are safe and effective for severe sweating <br />
                                    anywhere other than your armpits. It is not known if BOTOX Cosmetic is safe and effective for use more than 1 time every 3 months.  <br />
                                </p>
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->

                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">Who should not receive BOTOXor BOTOX Cosmetic?</h3>

                            <div class="text-gray-200">

                                <p>
                                    Do not receive <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong> if you:  <br />
                                    &ensp; • are allergic to any of the ingredients in BOTOXor BOTOX Cosmetic. See the end of this Medication Guide for a complete list of ingredients in BOTOXand BOTOX Cosmetic.  <br />
                                    &ensp; • had an allergic reaction to any other botulinum toxin product such as Myobloc® , Dysport® , or Xeomin®  <br />
                                    &ensp; • have a skin infection at the planned injection site. <br />
                                    &ensp; • are being treated for urinary incontinence and have a urinary tract infection (UTI). <br />
                                    &ensp; • are being treated for urinary incontinence and find that you cannot empty your bladder on your own (only applies to people who are not routinely catheterizing) <br />
                                </p>
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->

                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">What should I tell my doctor before receiving <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong>?</h3>

                            <div class="text-gray-200">

                                <p>
                                    Tell your doctor about all your medical conditions, including if you:  <br />
                                    &ensp; • have a disease that affects your muscles and nerves (such as amyotrophic lateral sclerosis [ALS or Lou Gehrig's disease], myasthenia gravis or Lambert-Eaton syndrome). See "<strong>What is the most important information I should know about BOTOX and BOTOX Cosmetic?</strong>"  <br />
                                    &ensp; • have allergies to any botulinum toxin product.   <br />
                                    &ensp; • had any side effect from any botulinum toxin product in the past.  <br />
                                    &ensp; • have or have had a breathing problem, such as asthma or emphysema.  <br />
                                    &ensp; • have or have had swallowing problems.  <br />
                                    &ensp; • have or have had bleeding problems.  <br />
                                    &ensp; • have plans to have surgery.  <br />
                                    &ensp; • had surgery on your face.  <br />
                                    &ensp; • have weakness of your forehead muscles, such as trouble raising your eyebrows.  <br />
                                    &ensp; • have drooping eyelids.  <br />
                                    &ensp; • have any other change in the way your face normally looks.  <br />
                                    &ensp; • have symptoms of a urinary tract infection (UTI) and are being treated for urinary incontinence. Symptoms of a urinary tract infection may include pain or burning with urination, frequent urination, or fever.  <br />
                                    &ensp; • have problems emptying your bladder on your own and are being treated for urinary incontinence.  <br />
                                    &ensp; • are pregnant or plan to become pregnant. It is not known if <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong> can harm your unborn baby.  <br />
                                    &ensp; • are breastfeeding or plan to breastfeed. It is not known if <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong> passes into breast milk.  <br />
                                    Tell your doctor about all the medicines you take, including prescription and over-the-counter medicines, vitamins and herbal supplements. Using <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong> with certain other medicines may cause serious side effects. Do not start any new medicines until you have told your doctor that you have received <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong> in the past.  <br />
                                    Especially tell your doctor if you:  <br />
                                    &ensp; • have received any other botulinum toxin product in the last four months.  <br />
                                    &ensp; • have received injections of botulinum toxin, such as Myobloc® (rimabotulinumtoxinB), Dysport® (abobotulinumtoxinA), or Xeomin® (incobotulinumtoxinA) in the past. Be sure your doctor knows exactly which product you received.  <br />
                                    &ensp; • have recently received an antibiotic by injection.  <br />
                                    &ensp; • take muscle relaxants.  <br />
                                    &ensp; • take an allergy or cold medicine.  <br />
                                    &ensp; • take a sleep medicine.  <br />
                                    &ensp; • take anti-platelets (aspirin-like products) or anti-coagulants (blood thinners).  <br />
                                    Ask your doctor if you are not sure if your medicine is one that is listed above. Know the medicines you take. Keep a list of your medicines with you to show your doctor and pharmacist each time you get a new medicine.  <br />
                                </p>
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->

                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">How will I receive <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong>?</h3>

                            <div class="text-gray-200">

                                <p>
                                    &ensp; • <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong> is an injection that your doctor will give you. <br />
                                    &ensp; • BOTOX is injected into your affected muscles, skin, or bladder. <br />
                                    &ensp; • BOTOX Cosmetic is injected into your affected muscles. <br />
                                    &ensp; • Your doctor may change your dose of <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong>, until you and your doctor find the best dose for you. <br />
                                    &ensp; • Your doctor will tell you how often you will receive your dose of <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong> injections. <br />
                                </p>
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->

                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">What should I avoid while receiving <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong>?</h3>

                            <div class="text-gray-200">

                                <p>
                                    <strong>BOTOX</strong> and <strong>BOTOX Cosmetic</strong> may cause loss of strength or general muscle weakness, vision problems, or dizziness within hours to weeks of taking <strong>BOTOX</strong> or <strong>BOTOX Cosmetic</strong>. If this happens, do not drive a car, operate machinery, or do other dangerous activities. See "<strong>What is the most important information I should know about BOTOX and BOTOX Cosmetic?</strong>" <br />
                                </p>
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->

                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">What are the possible side effects of BOTOX and BOTOX Cosmetic?</h3>

                            <div class="text-gray-200">

                                <p>
                                    <strong>BOTOX</strong> and <strong>BOTOX Cosmetic</strong> can cause serious side effects. See "<strong>What is the most important information I should know about BOTOX and BOTOX Cosmetic? </strong>" <br />
                                    Other side effects of <strong>BOTOX</strong> and <strong>BOTOX Cosmetic</strong> include: <br />
                                    &ensp; • dry mouth. <br />
                                    &ensp; • discomfort or pain at the injection site. <br />
                                    &ensp; • tiredness. <br />
                                    &ensp; • headache. <br />
                                    &ensp; • neck pain. <br />
                                    &ensp; • eye problems: double vision, blurred vision, decreased eyesight, drooping eyelids, swelling of your eyelids, and dry eyes. <br />
                                    &ensp; • drooping eyebrows. <br />
                                    &ensp; • urinary tract infection in both children and adults being treated for urinary incontinence. <br />
                                    &ensp; • painful urination in adults being treated for urinary incontinence. <br />
                                    &ensp; • bacteria in the urine of children being treated for urinary incontinence. <br />
                                    &ensp; • inability to empty your bladder on your own and are being treated for urinary incontinence. If you have difficulty fully emptying your bladder after getting BOTOX, you may need to use disposable selfcatheters to empty your bladder up to a few times each day until your bladder is able to start emptying again. <br />
                                    &ensp; • allergic reactions. Symptoms of an allergic reaction to BOTOXor BOTOX Cosmetic may include: itching, rash, red itchy welts, wheezing, asthma symptoms, or dizziness or feeling faint. Tell your doctor or get medical help right away if you are wheezing or have asthma symptoms, or if you become dizzy or faint. <br />
                                    &ensp; • upper respiratory tract infection. <br />
                                    Tell your doctor if you have any side effect that bothers you or that does not go away. <br />
                                    These are not all the possible side effects of <strong>BOTOX</strong> and <strong>BOTOX Cosmetic</strong>. For more information, ask your doctor or pharmacist. <br />
                                    Call your doctor for medical advice about side effects. You may report side effects to FDA at 1-800-FDA1088. <br />
                                    General information about the safe and effective use of <strong>BOTOX</strong> and <strong>BOTOX Cosmetic</strong>: <br />
                                    Medicines are sometimes prescribed for purposes other than those listed in a Medication Guide. <br />
                                    This Medication Guide summarizes the most important information about <strong>BOTOX</strong> and <strong>BOTOX Cosmetic</strong>. If you would like more information, talk with your doctor. You can ask your doctor or pharmacist for information about <strong>BOTOX</strong> and <strong>BOTOX Cosmetic</strong> that is written for health professionals. <br />
                                </p>
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->
                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">What are the ingredients in BOTOX and BOTOX Cosmetic?</h3>

                            <div class="text-gray-200">

                                <p>
                                    Active ingredient: onabotulinumtoxinA <br />
                                    Inactive ingredients: human albumin and sodium chloride <br />
                                </p>
                            </div> <!-- /.text-gray-200 -->
                        </div>

                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">How long will the results last?</h3>

                            <div class="text-gray-200">

                                Results from BOTOX® treatments typically last 3 to 4 months, and the procedure can be repeated in this time frame to best maintain results.   There certainly are people who prefer to wait 6 months after BOTOX® for subsequent injections since the effects on their wrinkles are still evident this far out.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">What happens if I discontinue treatment?</h3>

                            <div class="text-gray-200">

                                There is no harm in stopping BOTOX® treatments.  If you elect to discontinue BOTOX®, facial wrinkling will gradually return to the state it was before your procedure.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col">

                            <h3 class="hdg-5 text-gray-300">Will I still be able to make facial expressions?</h3>

                            <div class="text-gray-200">

                                Yes.  BOTOX® simply reduces muscle activity, so you can still make facial expressions naturally, but without the prominent wrinkles and creases.  Dr. Daniel will tailor your treatment, leaving you more or less mobility, depending on your specific goals.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col">

                            <h3 class="hdg-5 text-gray-300">How can I prepare for BOTOX® treatment?</h3>

                            <div class="text-gray-200">

                                During your initial consultation, Dr. Daniel will thoroughly discuss your goals and expectations, including possible risks and the best way to prepare for your treatment.  As much as possible, patients should avoid taking aspirin and ibuprofen-containing products (such as Advil and Motrin), St. John’s Wort, high doses of vitamin E supplements, and other blood thinners (unless medically necessary) for 1 week prior to treatment in order to minimize the risk of bruising. Patients should also avoid red wine and multivitamins for 2 days prior to treatment.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col">

                            <h3 class="hdg-5 text-gray-300">What should I expect during BOTOX® treatment?</h3>

                            <div class="text-gray-200">

                                BOTOX® Cosmetic treatment is performed on an outpatient basis in our offices.  The procedure is quick and simple, with minimal discomfort.  During the procedure, BOTOX® will be injected into the treatment areas using an ultra-fine needle.   No anesthesia is required, although topical numbing cream is offered when needed.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                    </div> <!-- /.row -->

                </div> <!-- /.container -->

            </section> <!-- /.content-grid -->






        </main><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->