@{
    ViewData["Title"] = "DYSPORT";
}


<div class="wrap" role="document">
    <div class="content">
        <main class="main" role="main">

            <section class="hero-banner relative flex justify-center items-center" id="component-1" data-component="hero-banner">




                @*<div class="fit-image object-cover object-center">
                    <img width="1920" height="1282" src="" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1920px) 100vw, 1920px">
                </div>*@


                <div class="container relative text-white z-10">

                    <div class="w-10/12 wysiwyg js-animate-up js-animated">

                        <h1 class="hdg-6">DYSPORT® TREATMENT</h1>
                        <p class="text-hero">Dysport® is an FDA-approved treatment that works by temporarily relaxing the facial muscles that cause wrinkling</p>



                    </div> <!-- /.w-10/12 -->

                </div> <!-- /.container -->

            </section> <!-- /.hero-banner -->





            <section class="results-slider  mb-24 " id="component-2" data-component="results-slider">

                <div class="container">

                    <div class="row">

                        <div class="relative z-10 w-full ml-auto col md:w-6/12 js-animate-col js-animated">

                            <h2 class="text-gray-300 text-hero">Before &amp; After</h2>

                        </div> <!-- /.col -->

                    </div> <!-- /.row -->

                    <div class="w-full mx-auto mb-20 md:w-10/12">

                        <div class="row">

                            <div class="w-full col md:w-6/12">

                                @*<div class="relative">

                                    <img src="~/images/big-square.svg" alt="" class="absolute top-0 right-0 opacity-75 dots" aria-hidden="true" style="transform: matrix(1, 0, 0, 1, 0, 0);">

                                </div>*@ <!-- /.relative -->

                            </div> <!-- /.col -->

                            <div class="relative z-10 w-full text-sm font-light leading-loose text-gray-200 col md:w-6/12 js-animate-col js-animated">

                                Results from Dysport® treatments typically last 3 to 4 months, and the procedure can be repeated in this time frame to best maintain results.&nbsp;
                            </div> <!-- /.col -->

                        </div> <!-- /.row -->

                    </div> <!-- /.md:w-10/12 -->

                    <div class="relative">

                        <div class="color-block bg-pale-300"></div>


                        <div class="w-full mx-auto results-slider__container md:w-10/12">

                            <div class="results-slider__slider results-slider__center -mx-gutter slick-initialized slick-slider">


                                <div class="slick-list draggable" style="padding: 0px 50px;">
                                    <div class="slick-track slick-track-custom">
                                        <div class="results-slider__slide col slick-slide slick-current slick-active slick-center slick-current-custom" data-slick-index="0" aria-hidden="false" tabindex="0" >

                                            <img width="1202" height="1211" src="~/images/dysport-1.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="" sizes="(max-width: 1202px) 100vw, 1202px">
                                        </div>
                                    </div>
                                </div> <!-- /.results-slider__slide -->




                            </div> <!-- /.results-slider__slide -->

                        </div> <!-- /.md:w-10/12 -->

                        <div class="flex items-center mt-16 slide-nav ll-results-slider__arrows sm:mt-0 sm:block">

                        </div> <!-- /.slide-nav -->

                    </div> <!-- /.relative -->

                </div> <!-- /.container -->

            </section> <!-- /.result-slider -->


            <section class="content-grid mt-32 mb-32 " id="component-3" data-component="content-grid">

                <div class="container">

                    <div class="row items-center mb-32 js-animate-up js-animated">

                        <div class="col w-full md:w-8/12 mb-8 md:mb-0">

                            <h2 class="hdg-2 mb-0">Frequently Asked Questions about DYSPORT</h2>

                        </div> <!-- /.col -->


                    </div> <!-- /.row -->

                    <div class="row">


                        <div class="col w-full md:w-6/12 lg:w-4/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">Who should administer Dysport®?</h3>

                            <div class="text-gray-200">

                                Dysport® injections are best administered by a qualified medical doctor with an understanding of proper technique and safety.  Dr. Daniel has great  expertise in administering Dysport® and would be happy to answer your questions about whether Dysport® is right for you.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                        <div class="col w-full md:w-6/12 lg:w-4/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">How soon will I see results from Dysport treatment?</h3>

                            <div class="text-gray-200">

                                On average, you will see results in about three days, although some people notice improvement as early as one day, or as late as one week, after treatment.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                        <div class="col w-full md:w-6/12 lg:w-4/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">What happens if I discontinue Dysport® treatments?</h3>

                            <div class="text-gray-200">

                                There is no harm in stopping Dysport® treatments.  If you elect to discontinue using Dysport®, facial wrinkling will return gradually to the same state it was before your treatment.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                        <div class="col w-full md:w-6/12 lg:w-4/12 wysiwyg mb-8 js-animate-col">

                            <h3 class="hdg-5 text-gray-300">Will I still be able to make facial expressions?</h3>

                            <div class="text-gray-200">

                                Yes.  Dysport® temporarily improves the look of your frown lines without changing the look of your whole face. Muscle activity is reduced, but you are still able to make facial expressions naturally.  Dr. Daniel can tailor your treatment, leaving you more or less mobility, depending on your specific goals.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                        <div class="col w-full md:w-6/12 lg:w-4/12 wysiwyg mb-8 js-animate-col">

                            <h3 class="hdg-5 text-gray-300">Can Dysport® be combined with other procedures?</h3>

                            <div class="text-gray-200">

                                Yes.   Using Dysport® concurrently with other dermal fillers allows us to treat a variety of facial areas in order to maximize results.  In addition, Dysport® may be used in combination with laser treatments or other procedures for even better results.  Dr. Daniel will discuss with you what procedure or combination of procedures may best suit your specific needs.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                        <div class="col w-full md:w-6/12 lg:w-4/12 wysiwyg mb-8 js-animate-col">

                            <h3 class="hdg-5 text-gray-300">What should I expect during Dysport® treatment?</h3>

                            <div class="text-gray-200">

                                Dysport® treatment is performed on an outpatient basis in our offices.  The procedure is quick and simple, with minimal discomfort. During the procedure, Dysport® will be injected into the treatment area using an ultra-fine needle. No anesthesia is required, although topical numbing cream is offered when needed.
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->


                    </div> <!-- /.row -->

                </div> <!-- /.container -->

            </section> <!-- /.content-grid -->



        </main><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->