@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<div class="wrap" role="document">
    <div class="content">
        <main class="main" role="main">

            <div class="faq mt-40 mb-40 " id="component-1" data-component="faq">

                <div class="container">

                    <div class="w-full  mx-auto">

                        <div class="row">

                            <div class="js-animate-up faq__title col w-full mx-auto md:w-10/12 lg:w-8/12 js-animated">

                                <h1 class="hdg-3 text-center mt-0">@ViewData["Title"]</h1>

                            </div> <!-- /.faq__title -->

                            <div class="faq__questions col w-full mx-auto md:w-10/12 lg:w-8/12 js-animate-up js-animated">


                                <div class="faq__question py-2 px-1 hover:bg-pale-100 border-t border-gray-200">

                                    <div class="faq__question-content">

                                        <h3 class="faq__question-title text-normal font-medium flex justify-between items-center">

                                            <div class="font-bold">
                                                Question 1
                                            </div> <!-- /.font-medium -->

                                            <svg class="icon icon-chevron-down text-4xl flex-grow-0 flex-shrink-0 flex-basis-auto"><use xlink:href="#icon-chevron-down"></use></svg>
                                        </h3>

                                        <div class="faq__question-answer pb-4 hidden text-sm ml-3 mt-3 md:ml-6">

                                            <p>Answer 1</p>

                                        </div> <!-- /.text-gray -->

                                    </div> <!-- /.faq__question-content -->

                                </div> <!-- /.faq__question -->


                                <div class="faq__question py-2 px-1 hover:bg-pale-100 border-t border-gray-200">

                                    <div class="faq__question-content">

                                        <h3 class="faq__question-title text-normal font-medium flex justify-between items-center">

                                            <div class="font-bold">
                                                Question 2
                                            </div> <!-- /.font-medium -->

                                            <svg class="icon icon-chevron-down text-4xl flex-grow-0 flex-shrink-0 flex-basis-auto"><use xlink:href="#icon-chevron-down"></use></svg>
                                        </h3>

                                        <div class="faq__question-answer pb-4 hidden text-sm ml-3 mt-3 md:ml-6">

                                            <p>Answer 2</p>

                                        </div> <!-- /.text-gray -->

                                    </div> <!-- /.faq__question-content -->

                                </div> <!-- /.faq__question -->


                                <div class="faq__question py-2 px-1 hover:bg-pale-100 border-t border-gray-200">

                                    <div class="faq__question-content">

                                        <h3 class="faq__question-title text-normal font-medium flex justify-between items-center">

                                            <div class="font-bold">
                                                Question 3
                                            </div> <!-- /.font-medium -->

                                            <svg class="icon icon-chevron-down text-4xl flex-grow-0 flex-shrink-0 flex-basis-auto"><use xlink:href="#icon-chevron-down"></use></svg>
                                        </h3>

                                        <div class="faq__question-answer pb-4 hidden text-sm ml-3 mt-3 md:ml-6">

                                            <p>Answer 3</p>

                                        </div> <!-- /.text-gray -->

                                    </div> <!-- /.faq__question-content -->

                                </div> <!-- /.faq__question -->


                                <div class="faq__question py-2 px-1 hover:bg-pale-100 border-t border-gray-200">

                                    <div class="faq__question-content">

                                        <h3 class="faq__question-title text-normal font-medium flex justify-between items-center">

                                            <div class="font-bold">
                                                Question 4
                                            </div> <!-- /.font-medium -->

                                            <svg class="icon icon-chevron-down text-4xl flex-grow-0 flex-shrink-0 flex-basis-auto"><use xlink:href="#icon-chevron-down"></use></svg>
                                        </h3>

                                        <div class="faq__question-answer pb-4 hidden text-sm ml-3 mt-3 md:ml-6">

                                            <p>Answer 4</p>

                                        </div> <!-- /.text-gray -->

                                    </div> <!-- /.faq__question-content -->

                                </div> <!-- /.faq__question -->


                                <div class="faq__question py-2 px-1 hover:bg-pale-100 border-t border-gray-200">

                                    <div class="faq__question-content">

                                        <h3 class="faq__question-title text-normal font-medium flex justify-between items-center">

                                            <div class="font-bold">
                                                Question 5
                                            </div> <!-- /.font-medium -->

                                            <svg class="icon icon-chevron-down text-4xl flex-grow-0 flex-shrink-0 flex-basis-auto"><use xlink:href="#icon-chevron-down"></use></svg>
                                        </h3>

                                        <div class="faq__question-answer pb-4 hidden text-sm ml-3 mt-3 md:ml-6">

                                            <p>Answer 5</p>

                                        </div> <!-- /.text-gray -->

                                    </div> <!-- /.faq__question-content -->

                                </div> <!-- /.faq__question -->


                                <div class="faq__question py-2 px-1 hover:bg-pale-100 border-t border-gray-200">

                                    <div class="faq__question-content">

                                        <h3 class="faq__question-title text-normal font-medium flex justify-between items-center">

                                            <div class="font-bold">
                                                Question 6
                                            </div> <!-- /.font-medium -->

                                            <svg class="icon icon-chevron-down text-4xl flex-grow-0 flex-shrink-0 flex-basis-auto"><use xlink:href="#icon-chevron-down"></use></svg>
                                        </h3>

                                        <div class="faq__question-answer pb-4 hidden text-sm ml-3 mt-3 md:ml-6">

                                            <p>Answer 6</p>

                                        </div> <!-- /.text-gray -->

                                    </div> <!-- /.faq__question-content -->

                                </div> <!-- /.faq__question -->


                                <div class="faq__question py-2 px-1 hover:bg-pale-100 border-t border-gray-200">

                                    <div class="faq__question-content">

                                        <h3 class="faq__question-title text-normal font-medium flex justify-between items-center">

                                            <div class="font-bold">
                                                Question 7
                                            </div> <!-- /.font-medium -->

                                            <svg class="icon icon-chevron-down text-4xl flex-grow-0 flex-shrink-0 flex-basis-auto"><use xlink:href="#icon-chevron-down"></use></svg>
                                        </h3>

                                        <div class="faq__question-answer pb-4 hidden text-sm ml-3 mt-3 md:ml-6">

                                            <p>Answer 7</p>

                                        </div> <!-- /.text-gray -->

                                    </div> <!-- /.faq__question-content -->

                                </div> <!-- /.faq__question -->



                            </div> <!-- /.faq__questions -->

                        </div> <!-- /.row -->

                    </div> <!-- /.shadow -->

                </div> <!-- /.container -->

            </div> <!-- /.faq -->

        </main><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->