<div class="wrap" role="document">
    <div class="content">
        <main class="main" role="main">
            <section class="hero-banner relative flex justify-center items-center   " id="component-1" data-component="hero-banner">
                @*<div class="loop-video-container has-overlay z-10" data-component="loop-video">
                    <video class="loop-video" muted="" autoplay="" loop="" playsinline="" poster="">
                        <source src="">
                    </video>
                </div>*@
                <div class="container relative text-white z-10">
                    <div class="w-10/12 wysiwyg js-animate-up js-animated">
                        <h1 class="hdg-6">Med Sculpt Aesthetics</h1>
                        <p class="text-hero">Beauty breeds confidence.</p>
                    </div> <!-- /.w-10/12 -->
                </div> <!-- /.container -->
            </section> <!-- /.hero-banner -->

         
            <section class="alt-content  mt-24 mb-24 has-elements lg:my-0 lg:pt-16 lg:pb-10  " id="component-2" data-component="alt-content">
                <div class="container lg:mt-56 lg:mb-32">
                    <div class="row ">
                        <div class="col relative w-full order-2 mt-16 lg:mt-16 lg:w-6/12 lg:order-1 js-animate-col z-30 wysiwyg js-animated">
                            <div class="w-5/6 ">
                                <h2 class="hdg-1">Welcome to Medical Sculpt Aesthetics</h2>
                                <p class="paragraph-large text-gray-300">Let out hands help reverse and restore the effects of aging.</p>
                                <p class="text-gray-200 paragraph-default">We offer non surgical treatment aimed at facial rejuviunation and reshaping.</p>
                            </div> <!-- /.w-5/6 -->
                        </div> <!-- /.col -->
                        <div class="alt-content__image-wrapper col relative order-1 w-full lg:w-6/12 lg:order-2">
                            @*<img src="~/images/square.svg" alt="" class="dots z-10" aria-hidden="true">*@
                            <div class="alt-content__image relative h-full">
                                <div class="fit-image object-cover object-center">
                                    <img width="1200" height="800" src="~/images/girl-2120196_640.jpg" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1200px) 100vw, 1200px">
                                </div>
                                <div class="color-block"></div>
                            </div> <!-- /.rel -->
                        </div> <!-- /.col -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </section> <!-- /.alt-content -->
            @*<section class="icon-grid relative mt-48 mb-32 " id="component-3" data-component="icon-grid">
                        <img src="~/images/long.svg" alt="" class="dots js-animate-col js-animated" aria-hidden="true">
                        <div class="relative bg-blue-200 py-32 z-10">
                            <div class="container">
                                <div class="row">
                                    <div class="col w-full md:w-1/3 mb-24 md:mb-0 js-animate-col js-animated">
                                        <div class="icon-grid__item">
                                            <div class="relative square bg-overlay">
                                                <div class="fit-image object-cover object-center">
                                                    <img width="1280" height="701" src="" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1280px) 100vw, 1280px">
                                                </div>
                                                <div class="icon-wrapper square border border-white absolute translate-center">
                                                    <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                    <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477 477" style="enable-background:new 0 0 477 477;" xml:space="preserve">
        <g>
                                                    <g>
                                                    <path d="M238.4,0C133,0,47.2,85.8,47.2,191.2c0,12,1.1,24.1,3.4,35.9c0.1,0.7,0.5,2.8,1.3,6.4c2.9,12.9,7.2,25.6,12.8,37.7
                    c20.6,48.5,65.9,123,165.3,202.8c2.5,2,5.5,3,8.5,3s6-1,8.5-3c99.3-79.8,144.7-154.3,165.3-202.8c5.6-12.1,9.9-24.7,12.8-37.7
                    c0.8-3.6,1.2-5.7,1.3-6.4c2.2-11.8,3.4-23.9,3.4-35.9C429.6,85.8,343.8,0,238.4,0z M399.6,222.4c0,0.2-0.1,0.4-0.1,0.6
                    c-0.1,0.5-0.4,2-0.9,4.3c0,0.1,0,0.1,0,0.2c-2.5,11.2-6.2,22.1-11.1,32.6c-0.1,0.1-0.1,0.3-0.2,0.4
                    c-18.7,44.3-59.7,111.9-148.9,185.6c-89.2-73.7-130.2-141.3-148.9-185.6c-0.1-0.1-0.1-0.3-0.2-0.4c-4.8-10.4-8.5-21.4-11.1-32.6
                    c0-0.1,0-0.1,0-0.2c-0.6-2.3-0.8-3.8-0.9-4.3c0-0.2-0.1-0.4-0.1-0.7c-2-10.3-3-20.7-3-31.2c0-90.5,73.7-164.2,164.2-164.2
                    s164.2,73.7,164.2,164.2C402.6,201.7,401.6,212.2,399.6,222.4z"></path>
                                                    <path d="M238.4,71.9c-66.9,0-121.4,54.5-121.4,121.4s54.5,121.4,121.4,121.4s121.4-54.5,121.4-121.4S305.3,71.9,238.4,71.9z
                     M238.4,287.7c-52.1,0-94.4-42.4-94.4-94.4s42.4-94.4,94.4-94.4s94.4,42.4,94.4,94.4S290.5,287.7,238.4,287.7z"></path>
            </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        </svg>
                                                </div> <!-- /.icon-wrapper -->
                                            </div> <!-- /.relative -->
                                            <p class="hdg-5 mb-0 mt-10 text-gray-300">Conveniently Located</p>
                                        </div> <!-- /.icon-grid__icon -->
                                    </div> <!-- /.col -->
                                    <div class="col w-full md:w-1/3 mb-24 md:mb-0 js-animate-col js-animated">
                                        <div class="icon-grid__item">
                                            <div class="relative square bg-overlay">
                                                <div class="fit-image object-cover object-center">
                                                    <img width="1440" height="1920" src="~/images/anna-hliamshyna-VDR-uVIHP_8-unsplash.jpg" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1440px) 100vw, 1440px">
                                                </div>
                                                <div class="icon-wrapper square border border-white absolute translate-center">
                                                    <!--?xml version="1.0" encoding="UTF-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 505.923 505.923" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 505.923 505.923">
                                                        <g>
                                                            <path d="m397.529,58.225c-37.359,0-72.27,11.235-100.957,32.49-25.401,18.819-44.228,44.84-51.653,71.391-8.498,30.386-1.593,57.841 18.431,75.96-6.892,12.102-13.298,24.592-18.372,36.707-4.66-11.592-10.865-21.973-17.882-31.224 9.949-15.808 11.327-35.12 3.511-54.911-7.36-18.635-22.266-35.818-41.974-48.386-21.258-13.556-46.288-20.721-72.383-20.721-33.485,0-67.836,12.078-99.338,34.928l-16.912,12.268 20.162,5.478c33.26,9.036 59.805,34.679 83.225,57.303 23.91,23.098 46.495,44.914 72.659,44.921 0.004,0 0.008,0 0.012,0 12.875,0 25.18-5.146 37.498-15.667 11.82,16.664 20.228,37.094 20.228,61.938v127h20c0,0 0.018-122.778 0.018-129.384 0-15.96 9.362-39.486 26.042-68.882 12.387,6.689 23.962,9.954 35.235,9.954 36.76,0 60.665-35.173 85.974-72.41 22.59-33.238 48.194-70.911 86.29-90.421l18.581-9.516-19.061-8.516c-30.153-13.47-60.209-20.3-89.334-20.3zm-221.471,196.203c-0.002,0-0.004,0-0.007,0-18.085-0.005-36.938-18.218-58.768-39.306-20.663-19.961-43.588-42.108-72.305-55.135 23.345-13.586 47.248-20.456 71.272-20.456 48.227,0 84.676,28.4 95.755,56.453 2.869,7.266 5.835,19.295 0.99,31.335-17.942-18.216-37.69-30.663-49.979-38.408-3.594-2.266-6.698-4.222-8.771-5.695l-11.59,16.299c2.526,1.797 5.85,3.892 9.697,6.316 12.659,7.979 31.868,20.09 48.451,37.523-8.638,7.436-16.76,11.074-24.745,11.074zm208.452-78.693c-23.213,34.155-43.261,63.652-69.432,63.652-7.676,0-15.897-2.358-24.996-7.165 0.894-1.439 1.797-2.886 2.722-4.348 19.815-31.329 39.938-56.696 40.139-56.949l-15.649-12.454c-1.715,2.155-22.828,28.846-43.394,61.905-12.095-13.03-15.666-31.622-9.72-52.884 6.252-22.354 22.397-44.482 44.298-60.708 17.584-13.028 47.309-28.56 89.051-28.56 20.458,0 41.53,3.779 62.861,11.258-32.716,22.745-55.46,56.209-75.88,86.253z"></path>
                                                        </g>
                                                    </svg>
                                                </div> <!-- /.icon-wrapper -->
                                            </div> <!-- /.relative -->
                                            <p class="hdg-5 mb-0 mt-10 text-gray-300">Focused on Natural Beauty</p>
                                        </div> <!-- /.icon-grid__icon -->
                                    </div> <!-- /.col -->


                                    <div class="col w-full md:w-1/3 mb-24 md:mb-0 js-animate-col js-animated">
                                        <div class="icon-grid__item">
                                            <div class="relative square bg-overlay">
                                                <div class="fit-image object-cover object-center">
                                                    <img width="1920" height="1440" src="~/images/black-and-white-blood-pressure-blood-pressure-monitor-208556.jpg" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1920px) 100vw, 1920px">
                                                </div>
                                                <div class="icon-wrapper square border border-white absolute translate-center">
                                                    <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                    <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 332 332" style="enable-background:new 0 0 332 332;" xml:space="preserve">
        <g>
                                                    <g>
                                                    <path d="M166,0C74.4,0,0,74.4,0,166s74.4,166,166,166s166-74.4,166-166S257.6,0,166,0z M166,317.6c-83.6,0-151.6-68-151.6-151.6
                    S82.4,14.4,166,14.4s151.6,68,151.6,151.6S249.6,317.6,166,317.6z"></path>
            </g>
        </g>
        <g>
                                                    <g>
                                                    <path d="M252.4,130H202V79.6c0-4-3.2-7.2-7.2-7.2h-57.6c-4,0-7.2,3.2-7.2,7.2V130H79.6c-4,0-7.2,3.2-7.2,7.2v57.6
                    c0,4,3.2,7.2,7.2,7.2H130v50.4c0,4,3.2,7.2,7.2,7.2h57.6c4,0,7.2-3.2,7.2-7.2V202h50.4c4,0,7.2-3.2,7.2-7.2v-57.6
                    C259.2,133.2,256,130,252.4,130z M245.6,187.6h-0.4h-50.4c-4,0-7.2,3.2-7.2,7.2v50.4h-43.2v-50.4c0-4-3.2-7.2-7.2-7.2H86.8v-43.2
                    h50.4c4,0,7.2-3.2,7.2-7.2V86.8H188v50.4c0,4,3.2,7.2,7.2,7.2h50.4V187.6z"></path>
            </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        </svg>
                                                </div> <!-- /.icon-wrapper -->
                                            </div> <!-- /.relative -->
                                            <p class="hdg-5 mb-0 mt-10 text-gray-300">Experienced Medical Staff</p>
                                        </div> <!-- /.icon-grid__icon -->
                                    </div> <!-- /.col -->
                                </div> <!-- /.row -->
                            </div> <!-- /.container -->
                        </div> <!-- /.bg-pale-200 -->
                    </section> *@


            <section class="procedures-slider pt-24 mt-24 mb-48 overflow-hidden " id="component-4" data-component="procedures-slider">
                <div class="container">
                    <div class="row items-center">
                        <div class="col relative procedures-slider__procedures-wrapper w-full lg:w-7/12">
                            @*<img src="~/images/big-square.svg" alt="" class="dots z-10" aria-hidden="true" style="transform: matrix(1, 0, 0, 1, -200, 0);">*@
                            <div class="procedures-slider__procedures bg-white slick-initialized slick-slider">
                                <div class="slick-list draggable">
                                    <div class="slick-track slick-track-custom" style="opacity: 1;">
                                        <div class="procedures-slider__procedure relative slick-slide slick-current slick-active slick-current-custom" data-slick-index="0" aria-hidden="false">
                                            <div class="square">
                                                <a asp-controller="Home" asp-action="Botox" class="overlay-link" tabindex="0"></a>
                                                <div class="fit-image object-cover object-center">
                                                    <img width="1200" height="800" src="~/images/amir-seilsepour-_hAaFD1ucfk-unsplash.jpg" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1200px) 100vw, 1200px">
                                                </div>
                                            </div> <!-- /.square -->
                                            @*<div class="title absolute bottom-0 right-0 bg-white py-4 px-10 z-50">
                                                <p class="hdg-3 mb-0">BOTOX®</p>
                                            </div>*@ <!-- /.title -->
                                        </div>
                                        <div class="procedures-slider__procedure relative slick-slide slick-slide-custom" data-slick-index="1" aria-hidden="true">
                                            <div class="square">
                                                <a href="" class="overlay-link" tabindex="-1"></a>
                                                <div class="fit-image object-cover object-center">
                                                    <img width="1920" height="1280" src="~/images/adorable-adult-beautiful-774095-1.jpg" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1920px) 100vw, 1920px">
                                                </div>
                                            </div> <!-- /.square -->
                                            <div class="title absolute bottom-0 right-0 bg-white py-4 px-10 z-50">
                                                <p class="hdg-3 mb-0">DYSPORT®</p>
                                            </div> <!-- /.title -->
                                        </div>

                                    </div>
                                </div> <!-- /.procedures-slider__procedure -->
                                <!-- /.procedures-slider__procedure -->
                                <!-- /.procedures-slider__procedure -->
                                <!-- /.procedures-slider__procedure -->
                            </div> <!-- /.procedures-slider__procedures -->
                        </div> <!-- /.col -->

                        <div class="col w-full lg:w-5/12 mt-24 lg:mt-0 wysiwyg js-animate-col js-animated">
                            <p class="hdg-1">Procedures Offered</p>
                            <p class="paragraph-default text-gray-200">BOTOX</p>
                            <p class="paragraph-default text-gray-200">Fillers</p>
                            <p class="paragraph-default text-gray-200">Structured Weight loss program.</p>
                            <p><a class="btn" asp-controller="Home" asp-action="Procedures">Learn More</a></p>
                            @*<div class="slider-nav mt-16 lg:mt-32">
            <button class="prev-slide mr-6"><svg class="icon icon-arrow-left text-xl"><use xlink:href="#icon-arrow-left">#shadow-root(closed)</use></svg></button>
            <button class="next-slide"><svg class="icon icon-arrow-right text-xl"><use xlink:href="#icon-arrow-right">#shadow-root(closed)</use></svg></button>
        </div>*@
                        </div> <!-- /.col -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </section> <!-- /.procedures-slider -->




        </main><!-- /.main -->





    </div><!-- /.content -->
</div><!-- /.wrap -->

