@{
    ViewData["Title"] = "Procedures";
}


<div class="wrap" role="document">
    <div class="content">
        <main class="main" role="main">
            
        <div class="bg-blue-300 pt-24 pb-16">

                <div class="container">

                    <div class="w-full xl:w-10/12 mx-auto">

                        <div class="row">

                            <div class="col w-full md:w-8/12 lg:w-6/12">

                                <h1 class="hdg-1 mb-0">Popular Procedures</h1>

                            </div> <!-- /.col -->

                        </div> <!-- /
                                   -->

                    </div> <!-- /.w-full -->

                </div> <!-- /.container -->

            </div> <!-- /.bg-pale-300 -->

            <div class="procedures-grid relative mb-48">

                <div class="container">

                    <div class="w-full xl:w-10/12 mx-auto">

                        <div class="row">


                            <div class="procedure mb-16 col w-full md:w-1/2">

                                <div class="relative square overflow-hidden">

                                    <a asp-controller="Home" asp-action="Botox" class="overlay-link"></a>



                                    <div class="fit-image object-cover object-center">
                                        <img width="1920" height="1280" src="~/images/woman-3096664_640.jpg" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1920px) 100vw, 1920px">
                                    </div>

                                    <div class="absolute bottom-0 left-0 bg-blue-200 py-4 pl-5 pr-5 sm:pr-24">

                                        <h2 class="hdg-5 mb-0">BOTOX©</h2>

                                    </div> <!-- /.absolute -->

                                </div> <!-- /.relative -->

                            </div> <!-- /.procedure -->


                            <div class="procedure mb-16 col w-full md:w-1/2">

                                <div class="relative square overflow-hidden">

                                    <a asp-controller="Home" asp-action="Fillers" class="overlay-link"></a>



                                    <div class="fit-image object-cover object-center">
                                        <img width="1300" height="1344" src="~/images/girl-1567057_640.jpg" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1300px) 100vw, 1300px">
                                    </div>

                                    <div class="absolute bottom-0 left-0 bg-blue-200 py-4 pl-5 pr-5 sm:pr-24">

                                        <h2 class="hdg-5 mb-0">Fillers</h2>

                                    </div> <!-- /.absolute -->

                                </div> <!-- /.relative -->

                            </div> <!-- /.procedure -->

                            <div class="procedure mb-16 col w-full md:w-1/2">

                                <div class="relative square overflow-hidden">

                                    <a asp-controller="Home" asp-action="WeightLoss" class="overlay-link"></a>



                                    <div class="fit-image object-cover object-center">
                                        <img width="1300" height="1344" src="~/images/girl-1567057_640.jpg" class="object-cover object-center" alt="" loading="lazy" srcset="" sizes="(max-width: 1300px) 100vw, 1300px">
                                    </div>

                                    <div class="absolute bottom-0 left-0 bg-blue-200 py-4 pl-5 pr-5 sm:pr-24">

                                        <h2 class="hdg-5 mb-0">Structured Weight Loss</h2>

                                    </div> <!-- /.absolute -->

                                </div> <!-- /.relative -->

                            </div>

                        </div> <!-- /.row -->

                    </div> <!-- /.w-full -->

                </div> <!-- /.container -->

            </div> <!-- /.procedures-grid -->



        </main><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->