@{
    ViewData["Title"] = "Weight Loss";
}


<div class="wrap" role="document">
    <div class="content">
        <main class="main" role="main">
            <section class="hero-banner relative flex justify-center items-center" id="component-1" data-component="hero-banner">


                <div class="container relative text-white z-10">

                    <div class="w-10/12 wysiwyg js-animate-up js-animated">

                        <h1 class="hdg-6">Structured Weight loss</h1>
                        <p class="text-hero">Loose up to 15 pounds in 12 weeks with our custom made diet and exercise plan.</p>



                    </div> <!-- /.w-10/12 -->

                </div> <!-- /.container -->

            </section> <!-- /.hero-banner -->


            <section class="results-slider  mb-24 " id="component-2" data-component="results-slider">

                <div class="container">

                    <div class="row">


                        <div class="col w-full md:w-12/12 lg:w-12/12 wysiwyg mb-8 js-animate-col js-animated">

                            <h3 class="hdg-5 text-gray-300">Whats good about this program ?</h3>

                            <div class="text-gray-200">

                                <p>

                                    &ensp; • No artificial dietary supplements.  <br />
                                    &ensp; • No prepared meals or manufactured food items. <br />
                                    &ensp; • Medical supervised prescription based weight loss plan.   <br />
                                </p>
                            </div> <!-- /.text-gray-200 -->

                        </div> <!-- /.col -->









                    </div> <!-- /.row -->


                </div> <!-- /.container -->

            </section> <!-- /.result-slider -->


        </main><!-- /.main -->
    </div><!-- /.content -->
</div><!-- /.wrap -->